<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet"type="text/css" href="{% static 'css/style.css' %}">
</head>
<body style="background-image: url(https://st4.depositphotos.com/24452164/25966/i/450/depositphotos_259664932-stock-photo-red-black-pattern-background-beautiful.jpg);" >
    <div style="background-image: url(https://st4.depositphotos.com/24452164/25966/i/450/depositphotos_259664932-stock-photo-red-black-pattern-background-beautiful.jpg);" style="margin: auto; height: 700px; width: 700px;"><br><br><br><br><br>
        <!-- Logo and Link -->
        <div class="logo">
            <img style="margin-left: 150px;" src="{% static 'images/logo3.jpg' %}" width="600px" class="logo_pic" alt="Logo">
            <ul style="margin-left: 250px;" class="nav nav-pills nav-fill">
                <li class="nav-item">
                    <a class="btn btn-danger" style="border-radius: 25px; width: 185px; margin-right: 510px;" href="/sign_page">Go To Vibe Connect!</a>
                </li>
            </ul>
        </div><br>
    </div>
</body>
</html>