<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload A Image</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet"type="text/css" href="{% static 'css/style.css' %}">
</head>
<body style="background-image: url(https://st4.depositphotos.com/24452164/25966/i/450/depositphotos_259664932-stock-photo-red-black-pattern-background-beautiful.jpg);" >
    <div class="Whole" style="margin: auto;">
        <!-- Top Header -->
        <nav class="navbar navbar-expand-lg navbar-light bg-dark" style="height: 130px;">
            <div class="d-flex justify-content-around">
                <a class="navbar-brand" href="#">
                    <img src="{% static 'images/logo3.jpg' %}" style="border-radius: 10px; margin: 30px;" width="120" height="100" class="d-inline-block align-top"></a>
                <a href="/home" style="margin: 35px;"><button class="btn btn-danger" type="button">Home</button></a>
                <a href="/about_us" style="margin: 35px;"><button class="btn btn-danger" type="button">About Us</button></a>
                <a href="/account_edit" style="margin: 35px;"><button class="btn btn-danger" type="button">Edit Account</button></a>
                <a href="/logout" style="margin: 35px;"><button class="btn btn-danger" type="button">Logout</button></a>
            </div>
        </nav><br>

        <h1 style="margin-left: 100px; color: whitesmoke;">Create A Album!</h1><br>

        <!-- Create Album -->
        <div class="card text-white bg-dark mb-3" style="margin-left: 150px; width: 600px; padding: 10px;">
            <form action="/create_album" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="text" name="title" id="upload_image" placeholder="Title">
                <input type="text" name="description" id="upload_image" placeholder="Description">
                <button class="btn btn-primary btn" type="submit">Submit</button>
            </form><br>
        </div>

        <div class="container" style="width: 600px; margin-left: 50px;">
            <div class="row" style="display: flow-root;">
                    {% for album in albums %}
                        <b style="color:whitesmoke">{{album.title}} <a href="/delete_album/{{album.id}}">Delete</a></b>
                        {% for album_photo in album.album_image.all %}
                            <!-- Display Albums -->
                            <div class="card col-6">
                                <img class="card-img-top" src="{{album_photo.cover.url}}" style="width: 200px; padding: 10px;" height="200px"  alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Photo - {{album_photo.title}}</h5>
                                    <p class="card-text">Info - "{{album_photo.description}}"</p>
                                    <p class="card-text"><small class="text-muted">Album - {{album.title}}</small></p>
                                    <p class="card-text"><small class="text-muted">Info - "{{album.description}}"</small></p>
                                    <b style="color:whitesmoke"><a href="/delete_album_photo/{{album_photo.id}}">Delete</a></b>
                                </div>
                            </div>
                        {% endfor %}
                        <!-- Add Photos to Albums -->
                        <form action="/create_album_photo" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" name="album_image" value="{{ album.id }}">
                            <input type="file" name="image" id="image" accept="image/*"><br>
                            <input type="text" name="title" id="upload_image" placeholder="Title">
                            <input type="text" name="description" id="upload_image" placeholder="Description">
                            <button class="btn btn-primary btn" type="submit">Submit</button>
                        </form><br>
                    {% endfor %}
            </div>
        </div><br><br><br>
    </div>
</body>
</html>